*{
    margin: 0;
    padding: 0;
}
body{
    background-color: purple;
    color: white;
}
div{
    margin: 10% 0%;
    text-align: center;
}
h2{
    padding: 10px;
    font-size: 1.5rem;
}
p{
    padding: 2px 4px;
    font-size: 1rem;
}
input{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    margin-bottom: 10px;
    text-align: center;
    width: 300px;
}
button{
    display: block;
    cursor: pointer;
    margin-left: 45.5%;
    width: 115px;
    padding: 10px;
    background-color: crimson;
    color: white;
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;

}