*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(192, 220, 245);
    color: black;

}
.event{
    text-align: center;
    margin-top: 20%;
    font-size: 1.2rem;
}
button{
    padding: 15px;
    background-color: crimson;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    font-weight: 700;
    border-radius:10px;
    border: 1px solid gray;
}