*{
    margin: 0;
    padding: 0;
}
.Footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    height: 40px;
    margin-top: -10px;
}
.Footer h3{
    font-size: 1.2rem;
}