*{
    margin: 0;
    padding: 0;
}
.Footer{
    background-color: black;
    color: white;
    margin-top: 500px;
    text-align: center;
}
.Footer h3{
    font-size: 1.2rem;
    height: 100px;
    padding-top: 50px;
}